#affiliation1 {
  display: none;
}

#affiliation2 {
  display: none;
}

#affiliation3 {
  display: none;
}

#affiliation12 {
  display: none;
}

#affiliation13 {
  display: none;
}

#affiliation23 {
  display: none;
}

#affiliation123 {
  display: none;
}
